html,body{background:#2e2e31;font-family:Verdana, sans-serif;color:#DEDCC3;margin-left:0;margin-right:0}
h1,h2,h3{margin:0}
h1{font-size:1.4em}
h2{font-size:1.3em}
h3{font-size:1.2em}
a{color:#fff}
.clearfix:after,.container:after{content:"\0020";display:block;height:0;clear:both;visibility:hidden;overflow:hidden}
.clearfix{display:block}
ul{list-style:none;margin-left:1px;margin-right:4px;padding-left:1px;width:100%}
li{margin-left:1px;padding-left:1px;width:100%;background:#41434a;border-bottom:1px dashed #000;border-left:1px dashed #000;border-right:1px dashed #000;display:block;height:30px}
li a{width:100%;height:30px;display:block;font-size:1.4em;color:#fff;text-align:left;float:left;background-image:url(/themes/mobile/images/arrow.png);background-repeat:no-repeat;background-position:right center}
ul.double_height li{height:60px;display:block}
ul.auto_height li{height:auto;display:block}
li.first{border-top-right-radius:6px;border-top-left-radius:6px;-webkit-border-top-right-radius:6px;-webkit-border-top-left-radius:6px;border-top:1px dashed #000;border-left:1px dashed #000;border-right:1px dashed #000}
li.last{border-bottom-right-radius:6px;border-bottom-left-radius:6px;-webkit-border-bottom-right-radius:6px;-webkit-border-bottom-left-radius:6px}
#yw2 li{border-top:1px dashed #000;border-left:1px dashed #000;border-right:1px dashed #000;border-bottom:1px dashed #000}
li.small a{font-size:.8em}
ul.yiiPager{max-width:240px}
ul.yiiPager li{width:13%;float:left;margin:0 auto}
ul.yiiPager li a{width:auto;background-image:none;font-size:.8em;padding-top:4px;padding-bottom:4px;float:none;text-align:center;margin:0 auto}
li.page a,li.previous a,li.next a{padding-left:4px;padding-right:4px}
.center{text-align:center}
li.more{display:block;height:auto;color:#F2F1E9;background-color:#877963}
.text{float:left;display:block;width:auto;font-size:1.4em}
a.second_link{background-image:none}
.facebook{display:block;width:16px;height:16px;font-size:1em;color:#fff;float:left}
span.beta{color:#877963}
@media handheld {
ul,li{margin-left:1px;padding-left:1px}
}