html {
  overflow-y: scroll;
}

body {
  background: #123;
  color: #333;
  font-size: 11px;
  height: auto;
  padding-bottom: 2px;
  background: #fff;
}

html, body, #wrapper {
    height: 100%;
}
 
body > #wrapper {
    height: auto;
    min-height: 100%;
}

#top_line, #footer_line {
border-top: 4px dashed #2e2e31;
background-color: #fff;
width: 960px;
}

#top, #footer {
height: 20px;
text-align: center;
background-color: #2e2e31;
color: #fff;
width: 960px;
}

.title_bg {
  background: #2e2e31;
  border-radius: 6px 6px 6px 6px;
  -webkit-border-radius: 6px 6px 6px 6px;
  height: 38px;
  padding-top: 2px;
  width: 220px;
}

.login .title_bg {
  margin-top: 20px;
  float: left;
  margin-right: 6px;
}

.title {
  height: 30px;
  width: 200px;
  border: 2px dashed #fff;
  border-radius: 6px 6px 6px 6px;
  -webkit-border-radius: 6px 6px 6px 6px;
  margin:0 auto;
  padding-left: 10px;
}

a.register {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 1.4em;
  font-weight: 700;
  margin-top: 4px;
  color: #fff;
}

.register_title {
  background: #B25326;
  height: 32px;
}

.register_title:hover {
  background: #2e2e31;
}

ul {
  list-style: none;
}

li {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 20px;
  margin-bottom: 20px;
}

footer {
  position: relative;
  margin-top: -20px; /* negative value of footer height */
  height: 20px;
  clear:both;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}


a {
  color: #b25326;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-family: Georgia, serif;
  font-weight: normal;
  padding-top: 20px;
  text-align: center;
}

h2 {
  color: #fff;
  text-align: center;
  margin-bottom: 0px;
  font-size: 1.4em;
  margin-top: 3px;
}


input, textarea {
  height: 25px;
  font-size: 1.4em;
  font-weight:bolder;
}

input[type="text"], input[type="password"], input[type="email"], input[type="submit"], textarea {
  background: #2e2e31;
  border-radius: 6px;
  color:#B25326;
  width: 200px;
  outline:none;
  margin-left: 3px;
  margin-bottom: 2px;
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, , textarea:focus {
    box-shadow: 0 0 5px #4D9453;
    -webkit-box-shadow: 0 0 5px #4D9453; 
    -moz-box-shadow: 0 0 5px #4D9453; 
}

input[type="submit"] {
  background-color: #2e2e31;
  border-radius: 6px;
  color:#e2e8e1;
  cursor: pointer;
  height:2.2em;
  margin-left: 5px;
  margin-top: 1px;
  width: 210px;
}

input[type="submit"]:hover {
  background-color: #B25226;
}


p {
  border: 1px solid #666;
  overflow: hidden;
  padding: 10px 0;
  text-align: center;
}

.top {
  background-color: #ACADAD;
  border-bottom: 1px solid #616561;
  padding: 4px 0px 4px 0px;
}

.title h1 {
  margin-bottom: 0px;
  padding-top: 0px;
  font-size: 2em;
}

.title a {
  color: #fff;
}

.header {
  height: 120px;
  position: relative;
  background-color: #e5e7e7;
}

.content {
  padding-top: 20px;
}

.content a {
  color: green;
  text-decoration: underline;
}




.empty {
  width: 64px;
  height: 64px;
  float: left;
}

.footer ul {
  margin-top: 24px;
}


.center_copyright {
  height: 100%;
  position: relative;
  color: #fff;
}

#login {
  margin-bottom: 40px;
}

.yiiPager li {
    float: left;
}

.yiiPager li a {
    padding: 10px;
}